@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*body{
  background-color: #020724;
  background: url('./assets/background.png') no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: right;
}*/
body {
  background-color: #020724;
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-position: 85% 15%; /* Slightly more right, slightly down */
  background-size: 670px auto;
  min-height: 90vh;
}

a{
  text-decoration: none;
  color: white;
}